/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define CONTROL 3
#define BLUET		4

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 3>;
            then-layer = <4>;
        };
    };
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// COLEMAK DH primary layout
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  F    |  P   |   B   |                                          |   J   |  L    |  U    |  Y   |   ;   | BkSp |
// |  CTRL |  A  |  R  |  S    |  T   |   G   |                                          |   M   |  N    |  E    |  I   |   O   | ENT  |
// | SHIFT |  Z  |  X  |  C    |  D   |   V   |  BkSp   |  L GUI  |  |  R GUI  |   TAB   |   K   |  H    |  ,    |  .   |   /   | SHFT |
//                     | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  | SPACE | RCTL  | BLUET |
			bindings = <
	&kp TAB    &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
	&kp LCTRL  &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E     &kp I   &kp O    &kp ENTER
	&kp LSHFT  &kp Z &kp X &kp C &kp D &kp V      &kp BSPC  &kp LGUI      &kp RGUI &kp TAB  &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	              &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER     &mo CONTROL &mo LOWER &kp SPACE &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp LEFT RIGHT &inc_dec_kp LEFT RIGHT>;
		};

		lower_layer {
// F keys and Numpad
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  | F 9 | F10 | F11   | F12  |   B   |                                          |   7   |  8    |  9    |  0   | COPY  | DEL  |
// |  CTRL | F 5 | F 6 | F 7   | F 8  |   G   |                                          |   4   |  5    |  6    |  I   | PASTE |  \   |
// | SHIFT | F 1 | F 2 | F 3   | F 4  |   V   | BT TOG  |  L GUI  |  |  ENTER  |  FIND   |   1   |  2    |  3    |  +   |   /   | SHFT |
//                     | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  |   .   | RCTL  | BLUET |
			bindings = <
	&kp TAB    &kp F9 &kp F10 &kp F11 &kp F12 &kp B                                                 &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_N0    &kp LC(C) &kp DEL
	&kp LCTRL  &kp F5 &kp F6  &kp F7  &kp F8  &kp G                                                 &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_MINUS &kp LC(V) &kp BSLH
	&kp LSHFT  &kp F1 &kp F2  &kp F3  &kp F4  &kp V   &out OUT_TOG &kp ENTER     &kp RGUI &kp LC(F) &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_PLUS  &kp FSLH  &kp RSHFT
	                     &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER     &mo CONTROL &mo LOWER &kp KP_DOT &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp DOWN UP>;
		};

		raise_layer {
// Symbols and basic navigation
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  | ESC |  W  | PgUp  |  ~   |   B   |                                          |   &   |  *    |  (    |  )   |   [   | NmLk |
// |  CTRL |  A  | HME | PgDn  | END  |   G   |                                          |   $   |  %    |  ^    |  '   |   ]   | Caps |
// | SHIFT |  Z  |  /  |  -    |  =   |   V   |  DEL    |  L GUI  |  |  INSERT |   TAB   |   !   |  @    |  #    | PrSc | ScrLk | SHFT |
//                     | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  | SPACE | RCTL  | BLUET |
			bindings = <
	&kp TAB    &kp ESC &kp W    &kp PG_UP &kp GRAVE &kp B                                         &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR  &kp LBKT &kp KP_NUM
	&kp LCTRL  &kp A   &kp HOME &kp PG_DN &kp END   &kp G                                         &kp DLLR &kp PRCNT &kp CARET &kp APOS  &kp RBKT &kp CAPS
	&kp LSHFT  &kp Z   &kp FSLH &kp MINUS &kp EQUAL &kp V &kp DEL &kp LGUI   &kp INS     &kp TAB  &kp EXCL &kp AT    &kp HASH  &kp PSCRN &kp SLCK &kp RSHFT
	                   &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER   &mo CONTROL &mo LOWER &kp SPACE &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp RIGHT LEFT>;
		};

		control_layer {
// Game / right hand nav
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  T  |  Q  |  W    |  E   |   R   |                                          |   J   | HOME  |  UP   |  END  | PgUp  | BkSp |
// |  CTRL |  G  |  A  |  S    |  D   |   F   |                                          |   M   | LEFT  | DOWN  | RIGHT | PgDn  | ENT  |
// | SHIFT |  5  |  4  |  3    |  2   |   1   |    6    |  L GUI  |  |  R GUI  |   TAB   |   K   |  H    |  ,    |  .    |   /   | SHFT |
//                     | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  | SPACE | RCTL  | BLUET |
			bindings = <
	&kp TAB    &kp T  &kp Q  &kp W  &kp E  &kp R                                                &kp J &kp HOME &kp UP    &kp END   &kp PG_UP &kp BSPC
	&kp LCTRL  &kp G  &kp A  &kp S  &kp D  &kp F                                                &kp M &kp LEFT &kp DOWN  &kp RIGHT &kp PG_DN &kp ENTER
	&kp LSHFT  &kp N5 &kp N4 &kp N3 &kp N2 &kp N1 &kp N6    &kp LGUI          &kp RGUI &kp TAB  &kp K &kp H    &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT
	              &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER     &mo CONTROL &mo LOWER &kp SPACE &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp RIGHT LEFT>;
		};

		bluet_layer {
// Bluetooth and RGB command layer. Access with LOWER+CONTROL or toggle. 3 profiles!
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  | RGB EFR | RGB TOG | RGB EFF |    B    |                                          | BT 0  |  L     | BT Clr |   Y    |   ;   | BkSp |
// |  CTRL |  A  | RGB SPI | RGB SAI | RGB HUI | RGB BRI |                                          | BT 1  |  N     |  E     |   I    |   O   | ENT  |
// | SHIFT |  Z  | RGB SPD | RGB SAD | RGB HUD | RGB BRD |  BkSp   |  L GUI  |  |  R GUI  |   TAB   | BT 2  | BT NXT |  ,     | BT PRV |   /   | SHFT |
//                                | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  | SPACE | RCTL   | BLUET  |
			bindings = <
	&kp TAB    &kp Q &rgb_ug RGB_EFR &rgb_ug RGB_TOG &rgb_ug RGB_EFF &kp B                                                    &bt BT_SEL 0 &kp L      &bt BT_CLR &kp Y      &kp SEMI &kp BSPC
	&kp LCTRL  &kp A &rgb_ug RGB_SPI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_BRI                                          &bt BT_SEL 1 &kp N      &kp E      &kp I      &kp O    &kp ENTER
	&kp LSHFT  &kp Z &rgb_ug RGB_SPD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_BRD &kp BSPC &kp LGUI   &kp RGUI    &kp TAB  &bt BT_SEL 2 &bt BT_NXT &kp COMMA  &bt BT_PRV &kp FSLH &kp RSHFT
	                                                &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER  &mo CONTROL &mo LOWER &kp SPACE &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp RIGHT LEFT>;
		};
	};
};
