/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define CONTROL 3
#define BLUET		4

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  F    |  P   |   B   |                                          |   J   |  L    |  U    |  Y   |   ;   | BkSp |
// |  CTRL |  A  |  R  |  S    |  T   |   G   |                                          |   M   |  N    |  E    |  I   |   O   | ENT  |
// | SHIFT |  Z  |  X  |  C    |  D   |   V   |  BkSp   |  L GUI  |  |  R GUI  |   TAB   |   K   |  H    |  ,    |  .   |   /   | SHFT |
//                     | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  | SPACE | RCTL  | BLUET |
			bindings = <
	&kp TAB    &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
	&kp LCTRL  &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E     &kp I   &kp O    &kp ENTER
	&kp LSHFT  &kp Z &kp X &kp C &kp D &kp V   &kp BSPC &kp LGU           &kp RGUI &kp TAB  &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	              &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER     &mo CONTROL &mo LOWER &kp SPACE &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp RIGHT LEFT>;
		};

		lower_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  F    |  P   |   B   |                                          |   J   |  L    |  U    |  Y   |   ;   | BkSp |
// |  CTRL |  A  |  R  |  S    |  T   |   G   |                                          |   M   |  N    |  E    |  I   |   O   | ENT  |
// | SHIFT |  Z  |  X  |  C    |  D   |   V   |  BkSp   |  L GUI  |  |  R GUI  |   TAB   |   K   |  H    |  ,    |  .   |   /   | SHFT |
//                     | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  | SPACE | RCTL  | BLUET |
			bindings = <
	&kp TAB    &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
	&kp LCTRL  &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E     &kp I   &kp O    &kp ENTER
	&kp LSHFT  &kp Z &kp X &kp C &kp D &kp V   &kp BSPC &kp LGU           &kp RGUI &kp TAB  &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	              &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER     &mo CONTROL &mo LOWER &kp SPACE &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp RIGHT LEFT>;
		};

		raise_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  F    |  P   |   B   |                                          |   J   |  L    |  U    |  Y   |   ;   | BkSp |
// |  CTRL |  A  |  R  |  S    |  T   |   G   |                                          |   M   |  N    |  E    |  I   |   O   | ENT  |
// | SHIFT |  Z  |  X  |  C    |  D   |   V   |  BkSp   |  L GUI  |  |  R GUI  |   TAB   |   K   |  H    |  ,    |  .   |   /   | SHFT |
//                     | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  | SPACE | RCTL  | BLUET |
			bindings = <
	&kp TAB    &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
	&kp LCTRL  &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E     &kp I   &kp O    &kp ENTER
	&kp LSHFT  &kp Z &kp X &kp C &kp D &kp V   &kp BSPC &kp LGU           &kp RGUI &kp TAB  &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	              &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER     &mo CONTROL &mo LOWER &kp SPACE &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp RIGHT LEFT>;
		};

		control_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  F    |  P   |   B   |                                          |   J   |  L    |  U    |  Y   |   ;   | BkSp |
// |  CTRL |  A  |  R  |  S    |  T   |   G   |                                          |   M   |  N    |  E    |  I   |   O   | ENT  |
// | SHIFT |  Z  |  X  |  C    |  D   |   V   |  BkSp   |  L GUI  |  |  R GUI  |   TAB   |   K   |  H    |  ,    |  .   |   /   | SHFT |
//                     | CONTR | ALT  | SPACE |  RAISE  |  LOWER  |  |  CONTR  |  LOWER  | SPACE | RCTL  | BLUET |
			bindings = <
	&kp TAB    &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SEMI &kp BSPC
	&kp LCTRL  &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E     &kp I   &kp O    &kp ENTER
	&kp LSHFT  &kp Z &kp X &kp C &kp D &kp V   &kp BSPC &kp LGU           &kp RGUI &kp TAB  &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	              &tog CONTROL &kp LALT &kp SPACE &mo RAISE &mo LOWER     &mo CONTROL &mo LOWER &kp SPACE &kp RCTRL &tog BLUET
			>;

			sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp RIGHT LEFT>;
		};
	};
};
